<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list style="margin: -15px 0px 0px -15px">
    <ion-item *ngFor="let carro of carros">
      <ion-thumbnail slot="start">
        <img src="{{ carro.foto }}">
      </ion-thumbnail>
      <ion-label>
        {{ carro.nome }}
        <p>{{ carro.ano }}</p>
      </ion-label>
      <p>{{ carro.cor }}</p>
    </ion-item>

  </ion-list>
</ion-content>