<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input clearInput [(ngModel)]="produto.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preço</ion-label>
    <ion-input clearInput [(ngModel)]="produto.preco"></ion-input>
  </ion-item>


  <ion-button color="primary" (click)="tirarFoto()">Tirar Foto</ion-button>
  <img src="{{produto.foto}}" >

  <ion-button color="danger" (click)="LercodigoBarra()">Ler Código de Barra</ion-button>
  {{produto.codigoBarra | json}}
  <hr>

  <ion-button color="primary" (click)="save()">Enviar</ion-button>
  <ion-button color="danger" *ngIf="id" (click)="delete()">Excluir</ion-button>
  <ion-button color="tertiary" (click)="back()">Voltar</ion-button>

</ion-content>
