<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ actors.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ actors.profile_path }}" />
      <ion-card-title>
        {{ actors.name }}
      </ion-card-title>
      <p>
        Birthday: {{ actors.birthday }}
      </p>
      <ion-card-subtitle>{{ actors.biography ? actors.biography : 'null' }}</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

</ion-content>