<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input clearInput [(ngModel)]="curso.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Código</ion-label>
    <ion-input clearInput [(ngModel)]="curso.codigo"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Turno</ion-label>
    <ion-input clearInput [(ngModel)]="curso.turno"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mínimo de Aluno</ion-label>
    <ion-input clearInput type="tel" [(ngModel)]="curso.minaluno"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Máximo de Aluno</ion-label>
    <ion-input clearInput type="tel" [(ngModel)]="curso.maxaluno"></ion-input>
  </ion-item>
  <hr>

  <ion-button color="primary" (click)="salvar()">Enviar</ion-button>
  <ion-button color="danger" *ngIf="id" (click)="excluir()">Excluir</ion-button>
  <ion-button color="tertiary" (click)="voltar()">Voltar</ion-button>

</ion-content>
