<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formulário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Matrícula</ion-label>
    <ion-input type="number" [(ngModel)]="usuario.matricula"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="number" [(ngModel)]="usuario.telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Data Nascimento</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="usuario.data_nascimento"></ion-datetime>
  </ion-item>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Sexo</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio slot="start" value="M" [(ngModel)]="usuario.sexo" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio slot="start" value="F" [(ngModel)]="usuario.sexo"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-label position="floating">CEP</ion-label>
    <ion-input type="number" [(ngModel)]="usuario.endereco.cep" (change)="buscarCep()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Logradouro</ion-label>
    <ion-input [(ngModel)]="usuario.endereco.logradouro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Complemento</ion-label>
    <ion-input [(ngModel)]="usuario.endereco.complemento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Número</ion-label>
    <ion-input type="number" [(ngModel)]="usuario.endereco.numero"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Bairro</ion-label>
    <ion-input [(ngModel)]="usuario.endereco.bairro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cidade</ion-label>
    <ion-input [(ngModel)]="usuario.endereco.localidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">UF</ion-label>
    <ion-input [(ngModel)]="usuario.endereco.uf"></ion-input>
  </ion-item>

  <ion-button *ngIf="!usuario.id" color="danger" expand="full" (click)="delete()">Excluir</ion-button>
  <ion-button color="success" expand="full" (click)="save()">Enviar</ion-button>
  <ion-button color="warning" expand="full">Cancelar</ion-button>

</ion-content>